<div class="calendar-container">
<h2 class="subject-heading">What's showing today?</h2>

<% @screenings_today.each do |screening| %>
	<p class="one-line-screening"> <a href= <%= screening.link %> > "<%=screening.title %>" at <%= screening.location %></a></p>
<% end %>
