<div class="calendar-container">
	<h2 class="subject-heading">About this site</h2>
	<p>This site was built with Rails, HTML5, CSS3, and Bootstrap. Data for showtime listings is acquired using scrape methods, with options for manual input.</p>


	<h2 class="subject-heading">About me</h2>
	<p>My name is John Crodian, and I'm a Philadelphia-based movie fan and web designer. The bulk of my experience is in Rails, Ruby, Javascript, HTML, and CSS. Please feel free to email me at johncrodian24@gmail.com with any questions or concerns.</p>
</div>

<div class="big-clear">
</div>