// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card-img-top {
	height: 100%;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

.card-date {
	display: block;
	font-family: "PT Sans";
	
}

.one-line-screening {
	font-family: "PT Sans";
	font-size: 24px;
}

.cool-clear {
	height: 50px;
}

.subject-heading {
	font-family: "Permanent Marker";
	font-size: 50px; 
}

.card-group {
	width: 95%;
	height: 450px;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}
.card {
	height: 500px;
	display: inline-block;
	position: relative;
	float: left;
	width: 350px;
	margin: 10px;
	-webkit-transition: margin 0.3s ease-out;
    -moz-transition: margin 0.3s ease-out;
    -o-transition: margin 0.3s ease-out;

}

.card:hover {
    margin-top: 5px;
}

span.text-content {
  background: rgba(0,0,0,0.6);
  color: white;
  cursor: pointer;
  padding: 5px;
  height: 500px;
  left: 0;
  position: absolute;
  top: 0;
  width: 350px;
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}

span.text-content span {
  font-size: 24px;
}

div.card:hover span.text-content {
  opacity: 1;
}

.theatre-entry {
	list-style: none;
	display: inline-block;
	float: left;
	font-size: 10pt;
}

.theatre-box2 {
	padding: 5px;
	border-radius: 10px;
	width: 95%;
	height: 300px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	margin-left: 20px;
	background-color: white;
}

.theatre-box {
	display: flex;
	position: absolute;
	justify-content: center;
	align-items: center;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	width: 95%;
	max-width: 2000px;
	height: 400px;
	background-image: image-url("popcorn.jpg");
	background-size: 100%;
}


@media all and (max-width: 1200px) {
	
.card {
	height: 300px;
	width: 200px;
	}

span.text-content {
	height: 300px;
	width: 200px;	
	}

span.text-content span {
  	font-size: 12px;
	}
}	


@media all and (max-width: 400px) {

	.card {
		height: 100px;
		width: 60px;
	}

	span.text-content {
		height: 100px;
		width: 60px;	
	}
	span.text-content span {
  		font-size: 8px;
	}
}
