<h1>Roxy Showtimes</h1>
<% @screeningArray.each do |entry| %>
  <ul>
  <li><%= entry.title %></li>
  <li><%= entry.showtime %></li>
  <li><%= entry.location %></li>
  <li><a href=<%= entry.link %> > Link to listing </a></li>
  </ul>
<% end %>